.root{
  background-color: #324057;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.login_pop{
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -130px 0 0 -230px;
}
.input_text{
  margin:10px 0 20px 0;
}
h3{
  text-align: center;
}