.site_layout_background{
  background-color: #fff;
}
.logo{
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.content{
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
:global(.block_container){
  margin: 15px;
}
:global(.m_b_10){
  padding-bottom: 10px;
}
:global(.d_flex){
  display:flex;
}
:global(.m_l_r_20){
  margin: 0 20px;
}
:global(.f_r){
  float: right;
}
:global(.p_l_r_16){
  padding: 0 16px;
}
:global(.p_15){
  padding: 0 15px 8px;
}
:global(.font_size_20){
  font-size: 20px;
}
:global(.j_c_btw){
  justify-content: space-between;
}
/* 白色字体 */
:global(.font_c_w){
  color: #fff;
}
/* 左右边距为15 */
:global(.m-l-r-15){
  margin:0 15px;
}
/* 颜色值为#999的字体 */
:global(.font_c_999){
  color: #999;
}
:global(.home_p_24){
  padding:24px;
  background-color: #FFF;
}
:global(.bg_fff){
  background-color: #fff;
}
:global(.m_t_15){
  margin-top:15px
}
/* 分割线 */
:global(.split_line_vertical){
  position: relative;
}
:global(.split_line_vertical::after){
  position: absolute;
  content: "";
  top:4px;
  right: -7.5px;
  height:12px;
  width: 1px;
  border-right: 1px solid #999;
}
.header_bg{
  background: #001529;
}